@import url("https://fonts.googleapis.com/css?family=Alex+Brush");

/* VARIABLES */
:root {
  --primary-color: #1e88e5;
  --primary-color-light: #3ba3ff;
  --primary-color-dark: #0b4182;

  --text-color: #616366;
  --text-color-light: #dcdee0;
  --text-color-dark: #555;

  --secondary-color: whitesmoke;
}

/* RESETS */
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-weight: 300 !important;
}

/* LAYOUT */
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.container--fluid {
  background-color: var(--secondary-color);
  width: 100%;
}

.section {
  margin: 0 10rem;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: flex-start;
}

.row:not(:last-child) {
  margin-bottom: 4rem;
}

.col--4 {
  flex: 4;
}

.col--3 {
  flex: 3;
  align-self: stretch;
}

.col--md {
  width: 40rem;
}

.col--flex {
  display: flex;
  flex-direction: column;
}

.row .col:not(:last-child) {
  margin-right: 2rem;
}

/* COMPONENTS */
.card {
  background-color: #fff;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.card__header {
  text-align: center;
  padding-bottom: 2rem;
}

.card-content {
  justify-content: center;
}

.card__footer {
  padding-top: 3rem;
  font-size: 1.4rem;
  text-align: center;
}

.card__link {
  text-decoration: none;
  color: var(--primary-color);
}

.card__link:hover,
.card__link:visited {
  color: var(--primary-color-dark);
}

.icon {
  height: 1.75rem;
  width: 1.75rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1.75rem;
  max-width: 100%;
  position: relative;
}

.input-field {
  padding: 1.25rem;
  padding-left: 4rem;
  flex: 1;
  border: 1px solid var(--text-color-light);
  background-color: transparent;
}

.input-icon {
  position: absolute;
  padding: 0 1.5rem;
}

.input-field:focus,
.input-field:active {
  outline: none;
  border: 1px solid var(--text-color-dark);
  color: var(--text-color-dark);
}

.brand {
  font-size: 4rem;
  font-family: "Alex Brush", cursive;
  color: var(--primary-color-dark);
}

.btn {
  padding: 1.25rem;
  width: 100%;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  outline: none;
  background-color: var(--primary-color-light);
}

.text-white {
  color: #fff !important;
}

.text-blue {
  color: var(--primary-color-dark) !important;
}

.footer {
  box-sizing: border-box;
  display: flex;
  height: 40rem;
  flex-direction: column;
  background: linear-gradient(
    to bottom right,
    var(--primary-color-light),
    var(--primary-color-dark)
  );
  padding: 5rem 10rem 2rem 10rem;
  justify-content: space-between;
}

.footer__content {
  color: #fff;
}

.copyright {
  display: flex;
  justify-content: center;
}

.copyright > span {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
}

.heading--md {
  font-size: 2.5rem;
}

/* PAGES */
/* SIGNUP PAGE */
.container--auth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--primary-color-dark)
  );
}

.card--auth {
  width: 30rem;
  height: 37rem;
  padding: 5rem;
}

.card--login {
  height: 30rem;
}

/* LANDING PAGE */
.header {
  height: 95vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom right,
    var(--primary-color-light),
    var(--primary-color-dark)
  );
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
}

.nav {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
}

.nav--right {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav__item {
  padding: 1.5rem;
  margin-right: 1rem;
}

.nav__link,
.btn__link {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.nav__item--signup,
.btn--start {
  background-color: #fff;
}

.tagline-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  height: 10rem;
  align-items: center;
}

.tagline {
  color: #fff;
  font-size: 3rem;
  margin-top: -7rem;
}

.btn--start {
  padding: 1.5rem;
  margin-top: 2rem;
}

.about {
  padding: 18rem 0 6rem 0;
  margin-top: -20vh;
}

.card--about {
  min-height: 32rem;
}

.card--about > .card__header {
  border-bottom: 1px solid var(--text-color-light);
  padding: 2rem;
}

.card--about > .card__content {
  padding: 3rem 2rem;
}

.section--header {
  margin: auto;
  font-size: 3.5rem;
}

.card__header > span {
  font-size: 2.5rem;
}

.card__content > p {
  font-size: 1.3rem;
  line-height: 2.25rem;
  text-align: center;
}

.brand + p {
  font-size: 1.3rem;
  line-height: 2.25rem;
  padding: 2rem 0;
}

.col--flex a {
  align-self: flex-start;
}

.social {
  display: flex;
  justify-content: flex-end;
}

.circle-wrapper {
  border: 1px solid #fff;
  margin-left: 2rem;
  align-self: flex-start;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social .icon {
  fill: #fff;
  height: 2rem;
  width: 2rem;
}

.footer .row {
  justify-content: space-between;
}