@import url("https://fonts.googleapis.com/css?family=Alex+Brush");

@import url("css/responsive.css");

/* VARIABLES */
:root {
  /* COLORS */
  --primary-color: #1e88e5;
  --primary-color-light: #3ba3ff;
  --primary-color-dark: #0b4182;

  --text-color: #616366;
  --text-color-light: #dcdee0;
  --text-color-dark: #555;

  --secondary-color: whitesmoke;

  /* GRADIENTS */
  --primary-gradient: linear-gradient(
    to bottom right,
    var(--primary-color-light),
    var(--primary-color-dark)
  );

  /* BOX SHADOWS */
  --card-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}

/* RESETS */
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-weight: 300 !important;
}

/* LAYOUT */
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.container--fluid {
  background-color: var(--secondary-color);
  width: 100%;
}

.section {
  margin: 0 10rem;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row:not(:last-child) {
  margin-bottom: 4rem;
}

.col {
  margin-bottom: 3rem;
  /* margin-right: 2rem; */
}

.col--4 {
  flex-basis: 23%;
}

.col--3 {
  flex-basis: 31.33%;
}

.col--2 {
  flex-basis: 48%;
}

.col--1 {
  flex-basis: 100%;
}

.col--md {
  width: 40rem;
}

.col--flex {
  display: flex;
  flex-direction: column;
}

.page-spacer {
  padding: 3rem 0 1rem 0;
}

/* COMPONENTS */
.card {
  background-color: #fff;
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
}

.card__header {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card__content {
  padding: 1.5rem;
  flex: 7;
}

.card__header > span {
  font-size: 2.5rem;
}

.card__content > p {
  font-size: 1.3rem;
  line-height: 2.25rem;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  font-size: 1.3rem;
  flex: 1;
}

.card__link {
  text-decoration: none;
  color: var(--primary-color);
}

.card__link:hover,
.card__link:visited {
  color: var(--primary-color-dark);
}

.icon {
  height: 1.75rem;
  width: 1.75rem;
}

.icon--menu {
  fill: #fff;
  align-self: center;
  height: 2.5rem;
  width: 2.5rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1.75rem;
  max-width: 100%;
  position: relative;
}

.input-field {
  padding: 1.25rem;
  padding-left: 4rem;
  flex: 1;
  border: 1px solid var(--text-color-light);
  background-color: transparent;
}

.input-icon {
  position: absolute;
  padding: 0 1.5rem;
}

.input-field:focus,
.input-field:active {
  outline: none;
  border: 1px solid var(--text-color-dark);
  color: var(--text-color-dark);
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.form-input__field {
  padding: 1.5rem 0 0.5rem 0;
  border: none;
  border-bottom: solid 1px var(--text-color-light);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.form-input__field:focus {
  outline: none;
  border-bottom: solid 1px var(--text-color);
}

.form-input__field::-webkit-input-placeholder {
  color: #aaa;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.required {
  color: red;
}

.form-input__label {
  order: -1;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  color: #000;
}

.form-input__radio {
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.radio-label {
  padding: 0 1.5rem 0 0.5rem;
}

.brand {
  font-size: 4rem;
  font-family: "Alex Brush", cursive;
  color: var(--primary-color-dark);
}

.search {
  display: flex;
  align-content: center;
  flex: 1;
}

.search .icon {
  align-self: center;
  fill: currentColor;
  cursor: pointer;
}

.pull--right {
  right: 0;
}

/* BUTTONS */
.btn {
  padding: 1.25rem;
  border: none;
  cursor: pointer;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--block {
  width: 100%;
}

.btn--primary {
  color: #fff;
  background-color: var(--primary-color);
}

.btn--success {
  color: #fff;
  background-color: #009933;
}

.btn--success:hover {
  background-color: #00b33c;
}

.btn--danger {
  color: #fff;
  background-color: #cc0000;
}

.btn--danger:hover {
  background-color: #e60000;
}

.btn--primary:hover {
  outline: none;
  background-color: var(--primary-color-light);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.btn--dropdown {
  background: transparent;
  border: solid 1px var(--text-color-light);
  color: var(--text-color);
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}

.btn--dropdown:hover,
.btn--dropdown:focus {
  border: none;
  outline: none;
}

.btn__icon {
  display: flex;
  align-self: center;
  margin-left: 0.2rem;
}

.btn__icon .icon {
  fill: currentColor;
}

.dropdown__content {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  position: absolute;
  background-color: #fff;
  box-shadow: var(--card-shadow);
  margin-top: 1rem;
}

#signout-btn,
#signout-btn .icon {
  color: #fff;
  fill: #fff;
}

.dropdown--signout {
  top: 6rem;
  right: 0;
  z-index: 99999;
}

.dropdown__content a {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--text-color);
}

.dropdown__content a:hover {
  background-color: #f1f1f1;
}

.dropdown__content a:not(:last-child) {
  border-bottom: solid 1px var(--text-color-light);
}

.hidden {
  display: none;
}

.no-overflow {
  overflow: hidden;
}

.show {
  display: block;
}

.actions--right .dropdown:not(:last-child) {
  margin-right: 2rem;
}

/* TEXTS */
.text-white {
  color: #fff !important;
}

.text-blue {
  color: var(--primary-color-dark) !important;
}

.show-on-mobile {
  display: none;
}

.footer {
  box-sizing: border-box;
  display: flex;
  min-height: 40rem;
  flex-direction: column;
  background: var(--primary-gradient);
  padding: 5rem 10rem 2rem 10rem;
  justify-content: space-between;
}

.footer__content {
  color: #fff;
}

.copyright {
  display: flex;
  justify-content: center;
}

.copyright > span {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
}

.heading--md {
  font-size: 2.5rem;
}

.nav {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
}

.nav--primary {
  background: var(--primary-gradient);
}

.nav--right {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav__item {
  padding: 1.5rem;
  margin-right: 1rem;
}

.nav__item:hover,
.nav__item:active {
  background-color: darkblue;
}

.nav__link,
.btn__link {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.nav__item--signup,
.btn--start {
  background-color: #fff;
}

.nav__item--signup:hover,
.btn--start:hover {
  background-color: #eee;
}

.status {
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  font-style: italic;
}

.status--rejected {
  background-color: #cc0000;
}

.status--approved {
  background-color: #e68a00;
}

.status--pending {
  background-color: dodgerblue;
}

.status--resolved {
  background-color: #009933;
}

.flex--right {
  align-self: flex-end;
}

/* .card--hoverable:hover {
  transform:
} */

/* PAGES */
/* SIGNUP PAGE */
.container--auth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--primary-gradient);
}

.card--auth {
  width: 30rem;
  height: 37rem;
  padding: 5rem;
}

.card--login {
  height: 30rem;
}

.link {
  text-decoration: none;
}

.hr {
  border-bottom: solid 1px var(--text-color-light);
}

/* LANDING PAGE */
.header {
  height: 95vh;
  display: flex;
  flex-direction: column;
  background: var(--primary-gradient);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
}

.tagline-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  height: 10rem;
  align-items: center;
  text-align: center;
}

.tagline {
  color: #fff;
  font-size: 3rem;
  margin-top: -7rem;
}

.btn--start {
  padding: 1.5rem;
  margin-top: 2rem;
}

.about {
  padding: 18rem 0 6rem 0;
  margin-top: -20vh;
}

.card--about {
  min-height: 32rem;
}

.card--about > .card__header {
  border-bottom: 1px solid var(--text-color-light);
  padding: 2rem;
}

.card--about > .card__content {
  padding: 3rem 2rem;
}

.section--header {
  margin: auto;
  font-size: 3.5rem;
}

.card--about .card__content > p {
  text-align: center;
}

.brand + p {
  font-size: 1.3rem;
  line-height: 2.25rem;
  padding: 2rem 0;
}

.col--flex a {
  align-self: flex-start;
}

.social {
  display: flex;
  justify-content: flex-end;
}

.circle-wrapper {
  border: 1px solid #fff;
  align-self: flex-start;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.circle-wrapper:not(:first-child) {
  margin-left: 2rem;
}

.social .icon {
  fill: #fff;
  height: 2rem;
  width: 2rem;
}

.footer .row {
  justify-content: space-between;
}

/* REQUESTS PAGE */
.section--requests {
  padding: 5rem 0;
  min-height: 100%;
}
.card--request {
  flex: 1;
}

.card--request .card__header {
  display: flex;
  justify-content: space-between;
}

.card--request .card__header > h1 {
  font-size: 1.7rem;
  font-weight: 400 !important;
  color: var(--text-color-dark);
}

.card--request .card__header > p {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
}

.status p {
  color: #fff;
  font-weight: 400;
}

.section--filters {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.actions {
  margin-left: 2rem;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.search__input--user {
  margin-left: 1.5rem;
  flex-basis: 60%;
  background-color: transparent;
  border: none;
  color: var(--text-color-dark);
}

.search__input--user:focus {
  outline: none;
}

/* NEW REQUEST */
.header--form {
  position: relative;
  background: var(--primary-gradient);
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 40vh);
}
.section--form {
  margin-top: 5rem;
  position: absolute;
  top: 10%;
  width: 100%;
}

.card--form {
  min-height: 50rem;
  width: 60%;
  margin: auto;
}

.request-form {
  padding: 0 4rem;
}

.card--form .card__footer {
  padding: 0;
  justify-content: flex-end;
}

.main--form {
  margin-bottom: 15rem;
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
  .card--auth {
    height: 100vh;
    width: 100vw;
    display: block;
  }

  .nav {
    flex-wrap: wrap;
  }

  .nav__item {
    flex-basis: 100%;
  }
  .nav--right {
    flex-wrap: wrap;
    display: none;
  }

  .tagline {
    font-size: 2rem;
  }

  .section {
    margin: 0 2rem;
  }

  .about {
    margin-top: -20vh;
  }

  .col--5,
  .col--4,
  .col--3,
  .col--2,
  .col--1 {
    flex-basis: 100%;
  }

  .footer {
    padding: 2rem;
  }

  .hide-on-mobile {
    display: none;
  }

  .social {
    justify-content: flex-start;
  }

  .footer__content > p:first-child {
    display: none;
  }

  .copyright {
    justify-content: flex-start;
  }

  .section--filters {
    flex-direction: column;
    align-items: flex-start;
  }

  .section--filters h1 {
    flex-basis: 100%;
  }

  .actions {
    margin-left: 0;
    flex-direction: column;
  }

  .actions .search {
    margin: 2rem 0;
  }

  .actions--right {
    align-self: flex-start;
  }

  .card--form {
    width: 100%;
    box-shadow: none;
  }

  .card--form .card__header {
    justify-content: flex-start;
  }

  .card--form .card__header > span {
    padding: 0 1rem;
  }

  .section--form {
    top: 5%;
  }

  .main--form {
    margin-bottom: 7rem;
  }

  .request-form {
    padding: 0 1rem;
  }

  .form-input__label {
    font-size: 1.8rem;
  }

  .show-on-mobile {
    display: block;
  }

  .header {
    position: relative;
  }

  .mobile-nav {
    height: 100vh;
    width: 80%;
    background-color: #fff;
    z-index: 9999;
    position: absolute;
    top: 0%;
    left: 0;
  }

  .brand--mobile {
    padding: 1.5rem 4rem;
  }

  .brand--mobile > span {
    color: var(--primary-color);
  }

  .mobile-item {
    display: flex !important;
    margin-bottom: 0 !important;
    border-bottom: solid 1px #ccc;
  }

  .mobile-link {
    color: var(--text-color);
    align-self: center;
  }

  .mobile-icon {
    align-self: center;
    fill: currentColor;
  }
}
